* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.footer {
  width: 100%;
  border-top: 2px solid rgb(255, 255, 255, 0.5);
  padding-top: 20px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.mainDiv {
}
.title {
  font-family: "Orbitron";
  text-align: center;
  color: rgb(39, 3, 39);
  text-shadow: 0 0 7px rgb(200, 140, 194), 0 0 10px rgb(173, 114, 178),
    0 0 21px rgb(207, 146, 199), 0 0 42px rgb(32, 6, 40),
    0 0 82px rgb(72, 12, 89), 0 0 92px rgb(65, 11, 81),
    0 0 102px rgb(70, 11, 86), 0 0 151px rgb(86, 15, 105);
}
.dayTitle {
  font-family: "Orbitron";
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 7px rgb(200, 140, 194), 0 0 10px rgb(173, 114, 178),
    0 0 21px rgb(207, 146, 199), 0 0 42px rgb(32, 6, 40),
    0 0 82px rgb(72, 12, 89), 0 0 92px rgb(65, 11, 81),
    0 0 102px rgb(70, 11, 86), 0 0 151px rgb(86, 15, 105);
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 15px;
}
.badget {
  width: 140px;
  height: 38px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  cursor: pointer;
}
.badget:hover {
  border: 1px solid #00f1fd;
  -webkit-box-shadow: -1px -3px 23px 6px rgba(0, 241, 253, 0.18);
  -moz-box-shadow: -1px -3px 23px 6px rgba(0, 241, 253, 0.18);
  box-shadow: -1px -3px 23px 6px rgba(0, 241, 253, 0.18);
}
.badget:hover .textButton {
  color: #00f1fd;
}
.badget:hover .svg {
  fill: #b621fe;
}
.dayBadget {
  width: 140px;
  height: 38px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  cursor: pointer;
}
.dayBadget:hover {
  border: 1px solid rgb(255, 255, 255);
  -webkit-box-shadow: -1px -3px 23px 6px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: -1px -3px 23px 6px rgba(255, 255, 255, 0.5);
  box-shadow: -1px -3px 23px 6px rgba(255, 255, 255, 0.5);
}

.dayBadget:hover .svg {
  fill: #b621fe;
}
.svgApple {
  background-image: url("./APPLE.svg");
  width: 24px;
  height: 24px;
}

.svgGoogle {
  background-image: url("./google_play.svg");
  width: 24px;
  height: 24px;
}
.textButton {
  display: flex;
  justify-content: flex-start;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
}
.dayTextButton {
  display: flex;
  justify-content: flex-start;
  font-family: "Open sans", sans-serif;
  color: rgb(255, 255, 255);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.icon:last-child() {
  margin-right: 0px;
}
.icons {
  display: block;
  margin-right: 25px;
}

.ico {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;

  border: 1px solid transparent;
  border-radius: 12px;
}

.icoFacebook {
  background-image: url(./ICOx320/facebook_icon.svg);
}
.icoTwitter {
  background-image: url(./ICOx320/twitter_icon.svg);
}

.icoPinterest {
  background-image: url(./ICOx320/pinterest_icon.svg);
}
.icoInstagram {
  background-image: url(./ICOx320/instagram_icon.svg);
}
.icoGithub {
  background-image: url(./ICOx320/github_icon.svg);
}
.icoFacebook:hover {
  background-color: rgb(101, 101, 144);
  -webkit-box-shadow: 0px 0px 19px 4px rgba(74, 167, 238, 0.22);
  -moz-box-shadow: 0px 0px 19px 4px rgba(74, 167, 238, 0.22);
  box-shadow: 0px 0px 19px 4px rgba(74, 167, 238, 0.22);
}
.icoTwitter:hover {
  background-color: #397070;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(75, 152, 132, 0.22);
  -moz-box-shadow: 0px 0px 19px 4px rgba(75, 152, 132, 0.22);
  box-shadow: 0px 0px 19px 4px rgba(75, 152, 132, 0.22);
}
.icoPinterest:hover {
  background-color: #282866;
  -webkit-box-shadow: 0px 0px 19px 8px rgba(58, 81, 150, 0.22);
  -moz-box-shadow: 0px 0px 19px 8px rgba(58, 81, 150, 0.22);
  box-shadow: 0px 0px 19px 8px rgba(58, 81, 150, 0.22);
}
.icoInstagram:hover {
  background-color: #9d0f5b;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(156, 24, 117, 0.21);
  -moz-box-shadow: 0px 0px 20px 5px rgba(139, 14, 101, 0.21);
  box-shadow: 0px 0px 20px 5px rgba(142, 16, 104, 0.21);
}
.icoGithub:hover {
  background-color: #680b5a;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(195, 33, 147, 0.21);
  -moz-box-shadow: 0px 0px 20px 5px rgba(195, 33, 147, 0.21);
  box-shadow: 0px 0px 20px 5px rgba(195, 33, 147, 0.21);
}

.axure {
  font-family: "Cinzel", serif;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  align-items: center;
}
