.card {
  max-width: 190px;
  margin-bottom: 20px;
}
.posterImg {
  width: 190px;
  height: 285px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.posterImg:hover {
  transform: scale(1.1);
}
.title {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(212, 204, 204);
}
.genres {
  font-family: "Open sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(212, 204, 204);
}
