.mainInput {
  position: relative;
}
.search {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: transparent;
  font-weight: 500;
  color: #00f1fd;
  width: 400px;
  height: 40px;
  border: 2px solid #00f1fd;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
}

.error {
  border: 3px solid red;
  border-radius: 10px;
}
.text {
  position: absolute;
  left: 10%;
  bottom: -42px;
  color: red;
}
@media (max-width: 420px) {
  .search {
    width: 320px;
  }
}
