.header {
  width: 100%;
  background-color: transparent;
  margin-bottom: 25px;
  border-bottom: 2px solid white;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.mainDiv {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgerIcon {
  display: flex;
  gap: 156px;
}
.clearButton {
  border: none;
  background: none;
  cursor: pointer;
}
.burger {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 4px;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border-radius: 11px;
}

.burger:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 34px;
  height: 4px;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border-radius: 11px;
}
.burger:before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 25px;
  height: 4px;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border-radius: 11px;
}

.buttonContainer {
  display: flex;
  gap: 30px;
}
.dayLogo {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 65px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 7px rgb(200, 140, 194), 0 0 10px rgb(173, 114, 178),
    0 0 21px rgb(207, 146, 199), 0 0 42px rgb(32, 6, 40),
    0 0 82px rgb(72, 12, 89), 0 0 92px rgb(65, 11, 81),
    0 0 102px rgb(70, 11, 86), 0 0 151px rgb(86, 15, 105);
}
.logo {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 65px;
  text-decoration: none;
  color: rgb(39, 3, 39);
  text-shadow: 0 0 7px rgb(200, 140, 194), 0 0 10px rgb(173, 114, 178),
    0 0 21px rgb(207, 146, 199), 0 0 42px rgb(32, 6, 40),
    0 0 82px rgb(72, 12, 89), 0 0 92px rgb(65, 11, 81),
    0 0 102px rgb(70, 11, 86), 0 0 151px rgb(86, 15, 105);
}
@media (max-width: 960px) {
  .dayLogo {
    font-size: 55px;
  }
  .burgerIcon {
    gap: 156px;
  }
  .logo {
    font-size: 55px;
  }
}
@media (max-width: 900px) {
  .burgerIcon {
    gap: 156px;
  }
  .logo {
    font-size: 45px;
  }
  .dayLogo {
    font-size: 45px;
  }
}
@media (max-width: 830px) {
  .logo {
    font-size: 35px;
  }
  .dayLogo {
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  .buttonContainer {
    gap: 20px;
  }
  .burgerIcon {
    gap: 96px;
  }
  .logo {
    font-size: 25px;
  }
  .dayLogo {
    font-size: 25px;
  }
}
@media (max-width: 620px) {
  .logo {
    font-size: 20px;
  }
  .dayLogo {
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  .logo {
    font-size: 20px;
  }
  .dayLogo {
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .burgerIcon {
    gap: 85px;
  }
}

@media (max-width: 470px) {
  .buttonContainer {
    gap: 10px;
  }
  .logo {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .logo {
    display: none;
  }
  .dayLogo {
    display: none;
  }
}
