* {
  box-sizing: border-box;
}
.InputTitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #98cde7;
  margin-bottom: 14px;
  text-align: left;
}

.darkInputTitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: white;
  margin-bottom: 14px;
  text-align: left;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;
  background-color: transparent;
  padding-top: 63px;
}
.darkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;
  background-color: transparent;
  padding-top: 63px;
}
.inputMargin {
  margin-bottom: 41px;
}
.margin {
  margin-bottom: 59px;
}
.text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 25px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #98cde7;
}
.link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 25px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #016efc;
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 440px) {
  .text {
    font-size: 18px;
    line-height: 110%;
  }
  .link {
    font-size: 18px;
    line-height: 110%;
  }
}
